<title>wfnian的主页</title>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>$(function () { $('img').click(function () { window.open($(this).attr('src')) }); });</script>


<style type="text/css">
    .show {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        width: auto;
        margin-top: 10px;
    }

    .list {
        width: calc(100% * (1 / 4) - 1px);
        padding: 1px;
    }


    @media screen and (max-width: 960px) {
        img {
            width: 100%;
            height: 90px;
            object-fit: cover;
        }
    }

    @media screen and (min-width: 960px) {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .date {
        text-indent: 2em;
        padding-top: 10px;
    }

    .day {
        box-shadow: 0px 0px 1px 0px #afafaf;
    }
</style>
<div class="day">
    <div class="date">2022年02月27日 | 北京市 </div>
    <div class="show">
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/62240adb5baa1a80abf31ea8.jpg"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/62240adb5baa1a80abf31ed1.jpg"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/62240adb5baa1a80abf31ef5.jpg"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/62240adb5baa1a80abf31f08.jpg"></div>
    </div>
</div>