<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/every_year/whisper_2022"
        style="background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);line-height: initial;">小黑账本</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">专门记仇</span>
    </div>
  </div>
</div>
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/enter/enter-bd"
        style="background-image: linear-gradient(-45deg, #ff9c45 0%, #fc4075 100%);line-height: initial;">小骗子生日快乐</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">❀</span>
    </div>
  </div>
</div>