<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/every_year/whisper_2021"
        style="background-image: linear-gradient(60deg, #a00, #a00);line-height: initial;">有些事情不称心<br>你就起身反抗吧</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">Quiet Disrepair</span>
    </div>
  </div>
</div>