p.pp{
    text-indent: 2em;
    border-width: 1px;
    border-style: dashed;
    border-color: #cccccc;
    background: #f8f8f8;
    box-shadow: #e5e5e5 -1px 5px 7px;
    letter-spacing: 1.5px;
    padding: 1em;
    color: #3f3e3f;
    box-sizing: border-box;
    font-size: 17px;
    text-align: justify;
}
.dd{
    text-indent: 2em;
    border-width: 1px;
    border-style: dashed;
    border-color: #cccccc;
    background: #f8f8f8;
    box-shadow: #e5e5e5 -1px 5px 7px;
    letter-spacing: 1.5px;
    padding: 1em;
    color: #3f3e3f;
    box-sizing: border-box;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 16px;
}
.s-link{
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: #cccccc;
    background: #f8f8f8;
    box-shadow: #e5e5e5 -1px 5px 7px;
    letter-spacing: 1.5px;
    padding: 6px;
    color: #3f3e3f;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.s-bold{
    font-weight: bold;
}
.s-index{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #009688;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: -5px;
}

.s-title{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.s-content{
    text-indent: 32px;
    text-align: justify;
}
.s-footer{
    font-size: 12px;
    color: darkgray;
}
.title1{
    font-size: 1em;
    font-weight: 600;
}